+++
type = "random"
random = "a"
title = "Quoted.FYI: redirecting to the next random author"
searchable = "false"
sitemap-ignored = "true"
cache-control = "none"
redirect = [ "/r/author" ]
+++
<header>
    <h2>Redirecting to</h2>
    <h3>the next random author</h3>
</header>
<section>
    <blockquote>
        <h4>in 5 seconds...</h4>
        <p><a href="/a/{{ .AuthorKey }}">{{ .AuthorName }}</a>.</p>
        <footer>destination</footer>
    </blockquote>
</section>