+++
type = "status"
title = "404"
url = "/404"
searchable = "false"
sitemap-ignored = "true"
+++
<header>
    <h2>404 - Not Found</h2>
    <h3>(4xx Client Error)</h3>
</header>
<section>
    <blockquote>
        <h4>404</h4>
        <p>The content requested was not found.</p>
        <footer>system</footer>
    </blockquote>
</section>