+++
type = "status"
title = "500"
url = "/500"
searchable = "false"
sitemap-ignored = "true"
+++
<header>
    <h2>500 - Internal Server Error</h2>
    <h3>(5xx Server Error)</h3>
</header>
<section>
    <blockquote>
        <h4>500</h4>
        <p>Your request could not be fulfilled, something unexpected happened.</p>
        <footer>system</footer>
    </blockquote>
</section>