+++
type = "page"
title = "Quoted.FYI: About"
description = "Main content quoted for your information..."
url = "/about"
+++
<header>
    <h2><a href="/about">About</a></h2>
    <h3>quoted for your information...</h3>
</header>
<section>
    <blockquote>
        <h4>on curiosity</h4>
        <p>
            This site is a curious machine for exploring famous quotes. Each
            quote is given a unique identifier and presented with each word of
            the quotation cross-linked with other quotes that include the given
            word. This may seem odd and that is because it is in fact not
            normal.
            <br/>
            <br/>
            Enjoy this curious machine of exploring all these things quoted for
            your information.
        </p>
        <footer>author</footer>
    </blockquote>
</section>