+++
type = "authors"
title = "Quoted.FYI: Authors"
searchable = "false"
sitemap-ignored = "true"
+++
<header>
    <h2>there are {{ .NumAuthors | intcomma }} <a href="/authors/">authors</a></h2>
    <h3>quoted for your information...</h3>
    <aside>
        <div>[select a page of things]</div>
        <ul>
            {{- range $idx,$letter := .AuthorLetters }}
                <li><a href="/authors/{{ $letter }}/">{{ $letter }}</a></li>
            {{- end }}
        </ul>
    </aside>
</header>
<section>
    <blockquote>
        <h4>organized by the first letter</h4>
        <p>Please select a page of author names from the alphabetical listing above.</p>
        <footer>authors</footer>
    </blockquote>
</section>