+++
type = "page"
title = "Quoted.FYI: Copyright"
description = "Copyright quoted for your information..."
+++
<header>
    <h2><a href="/copyright">Copyright</a></h2>
    <h3>quoted for your information...</h3>
</header>
<section>
    <blockquote>
        <h4>regarding intellectual property, copyrights</h4>
        <p>
            All quotations are in the public domain and no copyright is claimed
            on the content of the quotations themselves. The site name, theme,
            code and other such assets beyond the actual quotations are licensed
            under the same terms as <a href="https://go-enjin.org/terms-of-use" target="_blank">go-enjin.org</a>.
        </p>
        <footer>
            All rights reserved.
            <br/>
            Copyright &copy; {{ .CurrentYear }} <a href="mailto:quoted.fyi@gmail.com">Quoted.FYI</a>
        </footer>
    </blockquote>
</section>