+++
type = "query"
title = "Quoted.FYI: Main"
description = "Main content quoted for your information..."
share-twitter-url = "https://twitter.com/share?url=https://quoted.fyi&text=Quoted%20for%20your%20information%20in%20exploring%20curious%20things.&via=quoted_fyi&hashtags=QuotedFYI"
share-email-url = "mailto:?subject=Quoted.FYI%20main%20content&body=Quoted%20for%20your%20information%20in%20exploring%20curious%20things.%0A%0Ahttps://quoted.fyi"
url = "/"
[select]
    count-topics = "SELECT COUNT DISTINCT .QuoteCategories"
+++
<header>
    <h2><a href="/">Main</a> content</h2>
    <h3>quoted for your information...</h3>
</header>
<section>
    <blockquote>
        <h4>in exploring</h4>
        <p>
            {{ .NumQuotes | numberAsInt | intcomma }} quotes from {{ .NumAuthors | numberAsInt | intcomma }}
            <a href="/authors/">Authors</a> (sorted by last name),
            covering {{ .Selected.CountTopics | numberAsInt | intcomma }}
            <a href="/topics/">Topics</a> (grouped alphabetically),
            jumping around <a href="/random/">Random</a> things or curiously
            <a href="/build/">Build</a> up to a quote one word at a time.
        </p>
        <footer>
            curious things<br/>
            <span class="social">
                (
                share on
                <a href="{{ .ShareTwitterUrl }}" target="_blank" rel="noopener noreferrer">twitter</a>
                or
                <a href="{{ .ShareEmailUrl }}" target="_blank" rel="noopener noreferrer">email</a>.
                )
            </span>
        </footer>
    </blockquote>
</section>