+++
type = "page"
title = "Quoted.FYI: Privacy"
description = "Privacy quoted for your information..."
+++
<header>
    <h2><a href="/privacy">Privacy</a></h2>
    <h3>quoted for your information...</h3>
</header>
<section>
    <blockquote>
        <h4>regarding tracking and data sharing</h4>
        <p>
            <b># What data is collected.</b><br/>
            <br/>
            Visitors to Quoted.FYI are tracked by their IP address, browser user agent
            string, cookies and other such computer network things for traffic monitoring
            and site analytics.<br/>
            <br/>
            <b># How the data is collected.</b><br/>
            <br/>
            The Quoted.FYI website does not ever ask for anyone's email, phone number or any
            other such valuable personally identifying information.<br/>
            <br/>
            The following services have access to the user information are:<br/>
            <br/>
            &mdash; Cloudflare (3rd party)<br/>
            &mdash; The web server itself (1st party)<br/>
            <br/>
            <b># What is done with the data collected.</b><br/>
            <br/>
            The operators of Quoted.FYI use the 3rd party services to secure, optimize
            and enhance the user experience of the service.<br/>
            <br/>
            The data collected by the web server itself is only used for security purposes.<br/>
            <br/>
            <b># How can users control their data.</b><br/>
            <br/>
            There are a number of things users can do to protect themselves from web
            tracking services such as:<br/>
            <br/>
            &mdash; Disable the browser's 3rd party cookies<br/>
            &mdash; Use browser plugins such as NoScript to block the javascript<br/>
            &mdash; Use firewalls or other means of blocking the domains of the services<br/>
            <br/>
            <b># How quoted.fyi protects the data collected.</b><br/>
            <br/>
            Most of the data collected is by Cloudflare and not shared with any other parties.<br/>
            <br/>
            The (1st party) low-level data collected by the web service is also not shared with anyone or anything outside the web server environment itself.
        </p>
        <footer>
            <a href="mailto:quoted.fyi@gmail.com">Quoted.FYI</a>
        </footer>
    </blockquote>
</section>