+++
type = "page"
title = "Quoted.FYI: Random"
searchable = "false"
sitemap-ignored = "true"
share-twitter-url = "https://twitter.com/share?url=https://quoted.fyi/random&text=Browse%20a%20random%20quote%2C%20topic%20author%20or%20word.%0A%0Ahttps://quoted.fyi/random&via=quoted_fyi&hashtags=QuotedFYI"
share-email-url = "mailto:?subject=Quoted.FYI%20random%20content&body=Browse%20a%20random%20quote%2C%20topic%2C%20author%20or%20word.%0A%0Ahttps://quoted.fyi/random"
+++
<header>
    <h2><a href="/random">Random</a></h2>
    <h3>quoted for your information...</h3>
</header>
<section>
    <blockquote>
        <h4>browse a random</h4>
        <p><a href="/r/a/">author</a>, <a href="/r/t/">topic</a>, <a href="/r/q/">quote</a> or <a href="/r/w/">word</a>.</p>
        <footer>
            curious things<br/>
            <span class="social">(share on <a href="{{ .ShareTwitterUrl }}" target="_blank" rel="noopener noreferrer">twitter</a> or <a href="{{ .ShareEmailUrl }}" target="_blank" rel="noopener noreferrer">email</a>.)</span>
        </footer>
    </blockquote>
</section>