+++
type = "page"
title = "Quoted.FYI: Sitemap"
description = "Sitemap quoted for your information..."
+++
<header>
    <h2><a href="/sitemap">Sitemap</a></h2>
    <h3>quoted for your information...</h3>
</header>
<section>
    <blockquote>
        <h4>on things of this site</h4>
        <p>
            <b># Available Pages.</b>
            <br/>
            <br/>
            &mdash; <a href="/">Main</a>: site landing page<br/>
            &mdash; <a href="/build">Build</a>: build up to a quote<br/>
            &mdash; <a href="/authors">Authors</a>: browse authors<br/>
            &mdash; <a href="/topics">Topics</a>: browse topics<br/>
            &mdash; <a href="/random">Random</a>: find random things<br/>
            &mdash; <a href="/search">Search</a>: search for quotes<br/>
            &mdash; <a href="/about">About</a>: find out about this site<br/>
            &mdash; <a href="/privacy">Privacy</a>: privacy information<br/>
            &mdash; <a href="/copyright">Copyright</a>: copyright information<br/>
            &mdash; <a href="/twitter">Twitter</a>: twitter account information<br/>
            <br/>
            Get the XML version of this sitemap here: <a href="/sitemap.xml">sitemap.xml</a>.
        </p>
        <footer>system</footer>
    </blockquote>
</section>