+++
type = "page"
title = "Quoted.FYI: Topics"
searchable = "false"
sitemap-ignored = "true"
+++
<header>
    <h2>there are {{ intcomma .NumTopics  }} <a href="/topics/">topics</a></h2>
    <h3>quoted for your information...</h3>
    <aside>
        <div>[select a page of things]</div>
        <ul>
            {{- range $idx,$letter := .TopicLetters }}
                <li><a href="/topics/{{ $letter }}/">{{ $letter }}</a></li>
            {{- end }}
        </ul>
    </aside>
</header>
<section>
    <blockquote>
        <h4>organized by the first letter</h4>
        <p>Please select a page of topics from the alphabetical listing above.</p>
        <footer>topics</footer>
    </blockquote>
</section>