+++
type = "page"
title = "Quoted.FYI: Twitter"
description = "Twitter quoted for your information..."
+++
<header>
    <h2><a href="/twitter">Twitter</a></h2>
    <h3>quoted for your information...</h3>
</header>
<section>
    <blockquote>
        <h4>feedback, social networking</h4>
        <p>
            The quoted.fyi team uses Twitter for public feedback and
            interactions. If you have any questions, comments or concerns,
            let us know <a href="https://twitter.com/quoted_fyi" target="_blank">@quoted_fyi</a>.
            <br/>
            <br/>
            The account also tweets random quotes from time to time. Please note
            that tweeting quotes is not in any way an endorsement of the quote
            content and is only used as a means of participating on the twitter
            social network.
        </p>
        <footer>author</footer>
    </blockquote>
</section>