+++
type = "topic"
title = "Quoted.FYI: Topic"
layout = "full-view"
url = "!t/{key}"
searchable = "false"
sitemap-ignored = "true"
+++
<article class="list">
    <header>
        <h2>the topic of <a href="/t/{{ .Topic }}">{{ .Topic }}</a></h2>
        <h3>has {{ .TotalQuotes | intcomma }} quotes from {{ .TotalAuthors | intcomma }} authors</h3>
        {{- if gt (len .TopicAuthors) 0 }}
        <aside>
            <div>[scroll to things starting with...]</div>
            <ul>
                {{- range $idx,$group := .TopicAuthors }}
                    <li><a href="#{{ $group.Key }}">{{ $group.Key }}</a></li>
                {{- end }}
            </ul>
        </aside>
        {{- end }}
    </header>
    {{- range $idx,$group := .TopicAuthors }}
        {{- range $jdx,$author := $group.Authors }}
            <section{{ if eq $jdx 0 }} id="{{ $group.Key }}"{{ end }}{{ if gt (len $author.Quotes) 3 }} class="list"{{ end }}>
                <blockquote>
                    <h4><a href="/a/{{ $author.Key }}">{{ $author.Name }}</a></h4>
                    <ul>
                        {{- range $kdx,$quote := $author.Quotes }}
                            <li><a href="{{ $quote.Url }}">{{ $quote.Hash }}</a></li>
                        {{- end }}
                    </ul>
                    <footer>{{ len $author.Quotes }} quoted</footer>
                </blockquote>
            </section>
        {{- end }}
    {{- end }}
</article>